.container {
    display: flex;
    /* justify-content: center; */
    float: left;
    width: 45%;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
      margin-bottom: 20px;
    }
  }