.container {
   position: absolute;
   width: 100%;
   margin-top:650px;
}
.card {
    margin: 0 2% !important;
    position: relative;
    z-index: 2;

}
.infected {
    border-bottom: 10px solid rgba(0, 0,255, 0.5);
}
.recovered {
    border-bottom: 10px solid rgba(0, 255 , 0, 0.5);
}
.dealth {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media only screen and (max-width: 770px) {
    .container{
        width: 80% !important; 
        padding-top: 300px;
    }
    .card {
        margin: 1% 5%  !important;
        }
}