.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo{
    position: absolute;
    width: 100%;
    margin-top: 50px;
}

.header {
    position: absolute;
}

@media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .photo {
      width: 100%;
    }
  }